body{
    min-width:700px;
}

form{
    text-align:center;
}

section{
    text-align:center;
    width:100%;
}

select,button{
    height:40px;
    width:400px;
}

button{
    display:none;
}

.tableCreate{
    display:none;
}

select{
    margin-top:40px;
}

.aboutTable input{
    width:150px;
    margin-right:10px;
}

table{
    margin-left:auto;
    margin-right:auto;
}

table thead th{
    color:whitesmoke;
    min-width:40px;
}

td{
    padding:0 0.6em;
}

input{
    margin-top:10px;
    margin-right:10px;
    height:30px;
}

.pink{
    background-color:pink;
}

.information{
    color:yellow;
}